body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:745px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:745px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:21px;
  width:42px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:53px;
  top:72px;
  width:252px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:118px;
  width:170px;
  height:42px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:42px;
}
#u7 {
  position:absolute;
  left:2px;
  top:13px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
