body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:640px;
  top:0px;
  width:750px;
  height:667px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:667px;
}
#u3 {
  position:absolute;
  left:2px;
  top:326px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:290px;
  width:375px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:331px;
  width:375px;
  height:35px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:371px;
  width:375px;
  height:35px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:410px;
  width:375px;
  height:35px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:21px;
  width:42px;
  height:42px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u13 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
