body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1432px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1432px;
}
#u1 {
  position:absolute;
  left:2px;
  top:708px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:21px;
  width:42px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:260px;
  top:178px;
  width:115px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:228px;
  width:375px;
  height:92px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:92px;
}
#u7 {
  position:absolute;
  left:2px;
  top:38px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:260px;
  top:410px;
  width:115px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:130px;
  top:1350px;
  width:115px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:90px;
  top:450px;
  width:90px;
  height:180px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:180px;
}
#u13 {
  position:absolute;
  left:2px;
  top:82px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:920px;
  width:375px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:1080px;
  width:375px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:310px;
  top:75px;
  width:65px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
