body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:21px;
  width:42px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:290px;
  top:80px;
  width:90px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:456px;
  width:380px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
