body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1344px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u1 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:830px;
  top:0px;
  width:514px;
  height:910px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:910px;
}
#u3 {
  position:absolute;
  left:2px;
  top:447px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:241px;
  top:81px;
  width:133px;
  height:52px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:52px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:21px;
  width:42px;
  height:42px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u7 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
